<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
          
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
                    </ol>
                </nav>
            </div>
            
        </div>
       
        <!--end breadcrumb-->
        <ng-template #modalAccount let-modal class="modal-xl">

            <div class="modal-header modal-xl">
                <h4 class="modal-title" id="modal-basic-title">Tài khoản</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
          
        
           
            <div class="modal-body">
                <form enctype="multipart/form-data">
              
        
                    <div class="form-group">
                        <label for="firstName" class="form-label">Tên:</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="currentSelectedAccount.person.firstname" [ngModelOptions]="{standalone: true}"
                           >
                    </div>
        
                    <div class="form-group">
                        <label for="lastName" class="form-label">Họ:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="currentSelectedAccount.person.lastname" [ngModelOptions]="{standalone: true}"
                            >
                    </div>
        
                    <div class="form-group">
                        <label for="phonenumber" class="form-label">Số điện thoại:</label>
                        <input type="text" id="phonenumber" name="phonenumber" class="form-control" [(ngModel)]="currentSelectedAccount.person.phonenumber" [ngModelOptions]="{standalone: true}"
                            >
                    </div>
        
                    <div class="form-group">
                        <label for="address" class="form-label">Địa chỉ:</label>
                        <input type="text" id="address" name="address" class="form-control" [(ngModel)]="currentSelectedAccount.person.address" [ngModelOptions]="{standalone: true}"
                           >
                    </div>
        
                    <div class="form-group">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="currentSelectedAccount.person.email"
                        [ngModelOptions]="{standalone: true}">
                    </div>
        
                    <div class="form-group" *ngIf="typeModal=='edit'">
                        <label for="birthday" class="form-label">Ngày sinh:</label>
                        <input type="date" id="birthday" name="birthday" class="form-control" [(ngModel)]="formattedDate"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group" *ngIf="typeModal=='create'">
                        <label for="birthday" class="form-label">Ngày sinh:</label>
                        <input type="date" id="birthday" name="birthday" class="form-control" [(ngModel)]="currentSelectedAccount.person.birthday"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="sex" class="form-label">Giới tính:</label>
                        <select [(ngModel)]="currentSelectedAccount.person.sex" [ngModelOptions]="{standalone: true}" class="form-control" >
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="username" class="form-label">Tài khoản:</label>
                        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="currentSelectedAccount.username" [ngModelOptions]="{standalone: true}"
                           >
                    </div>
                    <div class="form-group">
                        <label for="username" class="form-label">CCCD:</label>
                        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="currentSelectedAccount.person.cccd" [ngModelOptions]="{standalone: true}"
                           >
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Mật khẩu:</label>
                        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="currentSelectedAccount.password"
                        [ngModelOptions]="{standalone: true}">
                    </div>
        
                    <div class="form-group">
                        <label for="role" class="form-label">Chức vụ:</label>
                        <select [(ngModel)]="currentSelectedAccount.role" [ngModelOptions]="{standalone: true}" class="form-control">
                            <option value="admin">Quản trị viên</option>
                            <option value="tutor">Gia sư</option>
                            <option value="student">Học viên</option>
                        </select>
                    </div>
        
                    
                    <div class="form-group">
                        <label for="importFile" class="form-label">Upload Image:</label>
                        <input type="file" id="importFile" name="importFile" class="form-control" (change)="onFileSelected($event)" accept="image/*">
                    </div>
        
                    <div class="form-group">
                        <img *ngIf="currentSelectedAccount.person?.importfile" [src]="currentSelectedAccount.person.importfile" alt="Uploaded Image" class="uploaded-image" width="200" height="auto">
                        <img *ngIf="!currentSelectedAccount.person?.importfile && currentSelectedAccount.person.image" [src]="filepath + currentSelectedAccount.person.image" alt="Uploaded Image" class="uploaded-image" width="200" height="auto">
                    </div>
        
                </form>
            </div>
        
        
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="Refresh()" *ngIf="typeModal=='create'">Làm mới</button>
                <button type="button" class="btn btn-outline-dark" (click)="createToServer()" *ngIf="typeModal=='create'">Thêm</button>
                <button type="button" class="btn btn-outline-dark" (click)="updateToServer()" *ngIf="typeModal=='edit'">Lưu</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Đóng</button>
            </div>
        
        </ng-template>
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    
                    <div class="position-relative d-flex">
                        <button class=" extend-search-btn" (click)="changeExtendSearchDivVisible()"><i class="bx bx-down-arrow extend-search-icon"></i></button>

                       <div style="position: relative;">
                        <input type="text" class="form-control ps-4 main-search-box" placeholder="Nhập tên Tài khoản..." [(ngModel)]="searchObject.lastname"> 
                        <div class="fancy-div"  [ngClass]="{'show': isSearchDivVisible}">
                            <div class="form-group">
                                <label for="name" class="form-label">Trạng thái:</label>
                                <select name="" id="" [(ngModel)]="searchObject.phonenumber" [ngModelOptions]="{standalone: true}" class="form-control col-12">
                                    <option value="-1" selected>Lựa chọn</option>
                                    <option *ngFor="let i = index; let status of statusMeaning" value="{{i}}">{{status}}</option>
                                </select>
                              </div>
                        </div>
                       </div>
                        <button class="btn search-btn-custom" (click)="search()"><i class="bx bx-search"></i></button>
                    </div>
                    <button class="btn btn-primary radius-30 mt-2 mt-lg-0" (click)="resetSearching()"><i class="bx bx-reset"></i>Reset tìm kiếm</button>
                    <div class="ms-auto"><a href="javascript:;" class="btn btn-primary radius-30 mt-2 mt-lg-0" (click)="openAccountModal('create')"><i class="bx bxs-plus-square"></i>Tạo Tài khoản</a></div>
                    
                </div>                 
             
                <div class="table-responsive " id="#">
                    <table class="table mb-0 table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>STT</th>
                                <th><a href="#" rel="noopener noreferrer" role="button" class="blank-link" >
                                    <span class="col">Họ </span>
                                    </a>
                                </th>
                                
                                <th><a href="#" rel="noopener noreferrer" role="button" class="blank-link" >
                                    <span class="col">Tên </span>
                                  </a>
                                </th>
                                <th><a href="#" rel="noopener noreferrer" role="button" class="blank-link" >
                                    <span class="col">Số điện thoại </span>
                                  </a>
                                </th>
                                <th><a href="#" rel="noopener noreferrer" role="button" class="blank-link" >
                                    <span class="col">Email</span>
                                    </a>
                                </th>
                                <th><a href="#" rel="noopener noreferrer" role="button" class="blank-link" >
                                    <span class="col">trạng thái </span>
                                 </a>
                                </th>
                                <th><span >Hành động</span></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="totalData>0">
                            <tr *ngFor="let i = index;let item of data | paginate
                            : {
                                itemsPerPage:page.pageSize,
                                currentPage: page.currentPage,
                                totalItems: totalData
                              }">
                                <td>{{page.currentPage  +i}}</td>
                                <td>{{item.person.firstname}}</td>
                                <td>{{item.person.lastname}}</td>
                                <td>{{item.person.phonenumber}}</td>
                                <td>{{item.person.email}}</td>
                                <td>{{statusMeaning[item.status]}}</td>
                                <td>
                                    <div class="d-flex order-actions">
                                        <a href="javascript:;" class="ms-2" (click)="openAccountModal('edit',item)" ><i class='bx bxs-edit'></i></a>
                                        <a href="javascript:;" class="ms-2" (click)="delete(item.id)"><i class='bx bxs-trash'></i></a>
                                    </div>
                                </td>
                            </tr>
                         
                        </tbody>
                    </table>


                </div>
                <div class="form-group" class="d-flex" >
                    <p style="margin-top: 25px;width: 150px;">Tổng số: {{totalData}} bản ghi</p>
                    <div class="input-group" style="justify-content: right; margin-top: 10px;">
                        <select class="form-select" aria-label="Default select example" style=" max-height: 45px;max-width: 20%;" [(ngModel)]="page.pageSize" (change)="fetchData()">
                            <option  value="10" >10 bản ghi trên 1 trang</option>
                            <option  value="20" selected>20 bản ghi trên 1 trang</option>
                            <option  value="30">30 bản ghi trên 1 trang</option>
                            <option  value="50">50 bản ghi trên 1 trang</option>
                            <option  value="100">100 bản ghi trên 1 trang</option>

                          </select>
                        <pagination-controls
                        style="padding-top: 10px;"
                            class="pagi"
                            (pageChange)="renderPage($event)">
                        </pagination-controls>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>

